<?xml version="1.0" encoding="utf-8"?>
<?mso-application progid="Word.Document"?>

<w:wordDocument xmlns:w="http://schemas.microsoft.com/office/word/2003/wordml" xmlns:aml="http://schemas.microsoft.com/aml/2001/core" xmlns:wpc="http://schemas.microsoft.com/office/word/2010/wordprocessingCanvas" xmlns:cx="http://schemas.microsoft.com/office/drawing/2014/chartex" xmlns:cx1="http://schemas.microsoft.com/office/drawing/2015/9/8/chartex" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:wx="http://schemas.microsoft.com/office/word/2003/auxHint" xmlns:wne="http://schemas.microsoft.com/office/word/2006/wordml" xmlns:wsp="http://schemas.microsoft.com/office/word/2003/wordml/sp2" xmlns:sl="http://schemas.microsoft.com/schemaLibrary/2003/core" w:macrosPresent="no" w:embeddedObjPresent="no" w:ocxPresent="no" xml:space="preserve">
  <w:ignoreSubtree w:val="http://schemas.microsoft.com/office/word/2003/wordml/sp2"/>
  <o:DocumentProperties>
    <o:Author>集团管理员</o:Author>
    <o:LastAuthor>集团管理员</o:LastAuthor>
    <o:Revision>2</o:Revision>
    <o:TotalTime>0</o:TotalTime>
    <o:Created>2019-11-07T08:22:00Z</o:Created>
    <o:LastSaved>2019-11-07T08:22:00Z</o:LastSaved>
    <o:Pages>1</o:Pages>
    <o:Words>1</o:Words>
    <o:Characters>7</o:Characters>
    <o:Lines>1</o:Lines>
    <o:Paragraphs>1</o:Paragraphs>
    <o:CharactersWithSpaces>7</o:CharactersWithSpaces>
    <o:Version>16</o:Version>
  </o:DocumentProperties>
  <w:fonts>
    <w:defaultFonts w:ascii="等线" w:fareast="等线" w:h-ansi="等线" w:cs="Times New Roman"/>
    <w:font w:name="Times New Roman">
      <w:panose-1 w:val="02020603050405020304"/>
      <w:charset w:val="00"/>
      <w:family w:val="Roman"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="E0002EFF" w:usb-1="C000785B" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="000001FF" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="宋体">
      <w:altName w:val="SimSun"/>
      <w:panose-1 w:val="02010600030101010101"/>
      <w:charset w:val="86"/>
      <w:family w:val="auto"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="宋体">
      <w:altName w:val="SimSun"/>
      <w:panose-1 w:val="02010600030101010101"/>
      <w:charset w:val="86"/>
      <w:family w:val="auto"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="等线">
      <w:altName w:val="DengXian"/>
      <w:panose-1 w:val="02010600030101010101"/>
      <w:charset w:val="86"/>
      <w:family w:val="auto"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="A00002BF" w:usb-1="38CF7CFA" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="0004000F" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="微软雅黑">
      <w:panose-1 w:val="020B0503020204020204"/>
      <w:charset w:val="86"/>
      <w:family w:val="Swiss"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="80000287" w:usb-1="2ACF3C50" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="0004001F" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="Calibri">
      <w:panose-1 w:val="020F0502020204030204"/>
      <w:charset w:val="00"/>
      <w:family w:val="Swiss"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="E4002EFF" w:usb-1="C000247B" w:usb-2="00000009" w:usb-3="00000000" w:csb-0="000001FF" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="@微软雅黑">
      <w:panose-1 w:val="020B0503020204020204"/>
      <w:charset w:val="86"/>
      <w:family w:val="Swiss"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="80000287" w:usb-1="2ACF3C50" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="0004001F" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="@宋体">
      <w:panose-1 w:val="02010600030101010101"/>
      <w:charset w:val="86"/>
      <w:family w:val="auto"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="00000003" w:usb-1="288F0000" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="00040001" w:csb-1="00000000"/>
    </w:font>
    <w:font w:name="@等线">
      <w:panose-1 w:val="02010600030101010101"/>
      <w:charset w:val="86"/>
      <w:family w:val="auto"/>
      <w:pitch w:val="variable"/>
      <w:sig w:usb-0="A00002BF" w:usb-1="38CF7CFA" w:usb-2="00000016" w:usb-3="00000000" w:csb-0="0004000F" w:csb-1="00000000"/>
    </w:font>
  </w:fonts>
  <w:styles>
    <w:versionOfBuiltInStylenames w:val="7"/>
    <w:latentStyles w:defLockedState="off" w:latentStyleCount="371">
      <w:lsdException w:name="Normal"/>
      <w:lsdException w:name="heading 1"/>
      <w:lsdException w:name="heading 2"/>
      <w:lsdException w:name="heading 3"/>
      <w:lsdException w:name="heading 4"/>
      <w:lsdException w:name="heading 5"/>
      <w:lsdException w:name="heading 6"/>
      <w:lsdException w:name="heading 7"/>
      <w:lsdException w:name="heading 8"/>
      <w:lsdException w:name="heading 9"/>
      <w:lsdException w:name="index 1"/>
      <w:lsdException w:name="index 2"/>
      <w:lsdException w:name="index 3"/>
      <w:lsdException w:name="index 4"/>
      <w:lsdException w:name="index 5"/>
      <w:lsdException w:name="index 6"/>
      <w:lsdException w:name="index 7"/>
      <w:lsdException w:name="index 8"/>
      <w:lsdException w:name="index 9"/>
      <w:lsdException w:name="toc 1"/>
      <w:lsdException w:name="toc 2"/>
      <w:lsdException w:name="toc 3"/>
      <w:lsdException w:name="toc 4"/>
      <w:lsdException w:name="toc 5"/>
      <w:lsdException w:name="toc 6"/>
      <w:lsdException w:name="toc 7"/>
      <w:lsdException w:name="toc 8"/>
      <w:lsdException w:name="toc 9"/>
      <w:lsdException w:name="Normal Indent"/>
      <w:lsdException w:name="footnote text"/>
      <w:lsdException w:name="annotation text"/>
      <w:lsdException w:name="header"/>
      <w:lsdException w:name="footer"/>
      <w:lsdException w:name="index heading"/>
      <w:lsdException w:name="caption"/>
      <w:lsdException w:name="table of figures"/>
      <w:lsdException w:name="envelope address"/>
      <w:lsdException w:name="envelope return"/>
      <w:lsdException w:name="footnote reference"/>
      <w:lsdException w:name="annotation reference"/>
      <w:lsdException w:name="line number"/>
      <w:lsdException w:name="page number"/>
      <w:lsdException w:name="endnote reference"/>
      <w:lsdException w:name="endnote text"/>
      <w:lsdException w:name="table of authorities"/>
      <w:lsdException w:name="macro"/>
      <w:lsdException w:name="toa heading"/>
      <w:lsdException w:name="List"/>
      <w:lsdException w:name="List Bullet"/>
      <w:lsdException w:name="List Number"/>
      <w:lsdException w:name="List 2"/>
      <w:lsdException w:name="List 3"/>
      <w:lsdException w:name="List 4"/>
      <w:lsdException w:name="List 5"/>
      <w:lsdException w:name="List Bullet 2"/>
      <w:lsdException w:name="List Bullet 3"/>
      <w:lsdException w:name="List Bullet 4"/>
      <w:lsdException w:name="List Bullet 5"/>
      <w:lsdException w:name="List Number 2"/>
      <w:lsdException w:name="List Number 3"/>
      <w:lsdException w:name="List Number 4"/>
      <w:lsdException w:name="List Number 5"/>
      <w:lsdException w:name="Title"/>
      <w:lsdException w:name="Closing"/>
      <w:lsdException w:name="Signature"/>
      <w:lsdException w:name="Default Paragraph Font"/>
      <w:lsdException w:name="Body Text"/>
      <w:lsdException w:name="Body Text Indent"/>
      <w:lsdException w:name="List Continue"/>
      <w:lsdException w:name="List Continue 2"/>
      <w:lsdException w:name="List Continue 3"/>
      <w:lsdException w:name="List Continue 4"/>
      <w:lsdException w:name="List Continue 5"/>
      <w:lsdException w:name="Message Header"/>
      <w:lsdException w:name="Subtitle"/>
      <w:lsdException w:name="Salutation"/>
      <w:lsdException w:name="Date"/>
      <w:lsdException w:name="Body Text First Indent"/>
      <w:lsdException w:name="Body Text First Indent 2"/>
      <w:lsdException w:name="Note Heading"/>
      <w:lsdException w:name="Body Text 2"/>
      <w:lsdException w:name="Body Text 3"/>
      <w:lsdException w:name="Body Text Indent 2"/>
      <w:lsdException w:name="Body Text Indent 3"/>
      <w:lsdException w:name="Block Text"/>
      <w:lsdException w:name="Hyperlink"/>
      <w:lsdException w:name="FollowedHyperlink"/>
      <w:lsdException w:name="Strong"/>
      <w:lsdException w:name="Emphasis"/>
      <w:lsdException w:name="Document Map"/>
      <w:lsdException w:name="Plain Text"/>
      <w:lsdException w:name="E-mail Signature"/>
      <w:lsdException w:name="HTML Top of Form"/>
      <w:lsdException w:name="HTML Bottom of Form"/>
      <w:lsdException w:name="Normal (Web)"/>
      <w:lsdException w:name="HTML Acronym"/>
      <w:lsdException w:name="HTML Address"/>
      <w:lsdException w:name="HTML Cite"/>
      <w:lsdException w:name="HTML Code"/>
      <w:lsdException w:name="HTML Definition"/>
      <w:lsdException w:name="HTML Keyboard"/>
      <w:lsdException w:name="HTML Preformatted"/>
      <w:lsdException w:name="HTML Sample"/>
      <w:lsdException w:name="HTML Typewriter"/>
      <w:lsdException w:name="HTML Variable"/>
      <w:lsdException w:name="Normal Table"/>
      <w:lsdException w:name="annotation subject"/>
      <w:lsdException w:name="No List"/>
      <w:lsdException w:name="Outline List 1"/>
      <w:lsdException w:name="Outline List 2"/>
      <w:lsdException w:name="Outline List 3"/>
      <w:lsdException w:name="Table Simple 1"/>
      <w:lsdException w:name="Table Simple 2"/>
      <w:lsdException w:name="Table Simple 3"/>
      <w:lsdException w:name="Table Classic 1"/>
      <w:lsdException w:name="Table Classic 2"/>
      <w:lsdException w:name="Table Classic 3"/>
      <w:lsdException w:name="Table Classic 4"/>
      <w:lsdException w:name="Table Colorful 1"/>
      <w:lsdException w:name="Table Colorful 2"/>
      <w:lsdException w:name="Table Colorful 3"/>
      <w:lsdException w:name="Table Columns 1"/>
      <w:lsdException w:name="Table Columns 2"/>
      <w:lsdException w:name="Table Columns 3"/>
      <w:lsdException w:name="Table Columns 4"/>
      <w:lsdException w:name="Table Columns 5"/>
      <w:lsdException w:name="Table Grid 1"/>
      <w:lsdException w:name="Table Grid 2"/>
      <w:lsdException w:name="Table Grid 3"/>
      <w:lsdException w:name="Table Grid 4"/>
      <w:lsdException w:name="Table Grid 5"/>
      <w:lsdException w:name="Table Grid 6"/>
      <w:lsdException w:name="Table Grid 7"/>
      <w:lsdException w:name="Table Grid 8"/>
      <w:lsdException w:name="Table List 1"/>
      <w:lsdException w:name="Table List 2"/>
      <w:lsdException w:name="Table List 3"/>
      <w:lsdException w:name="Table List 4"/>
      <w:lsdException w:name="Table List 5"/>
      <w:lsdException w:name="Table List 6"/>
      <w:lsdException w:name="Table List 7"/>
      <w:lsdException w:name="Table List 8"/>
      <w:lsdException w:name="Table 3D effects 1"/>
      <w:lsdException w:name="Table 3D effects 2"/>
      <w:lsdException w:name="Table 3D effects 3"/>
      <w:lsdException w:name="Table Contemporary"/>
      <w:lsdException w:name="Table Elegant"/>
      <w:lsdException w:name="Table Professional"/>
      <w:lsdException w:name="Table Subtle 1"/>
      <w:lsdException w:name="Table Subtle 2"/>
      <w:lsdException w:name="Table Web 1"/>
      <w:lsdException w:name="Table Web 2"/>
      <w:lsdException w:name="Table Web 3"/>
      <w:lsdException w:name="Balloon Text"/>
      <w:lsdException w:name="Table Grid"/>
      <w:lsdException w:name="Table Theme"/>
      <w:lsdException w:name="Placeholder Text"/>
      <w:lsdException w:name="No Spacing"/>
      <w:lsdException w:name="Light Shading"/>
      <w:lsdException w:name="Light List"/>
      <w:lsdException w:name="Light Grid"/>
      <w:lsdException w:name="Medium Shading 1"/>
      <w:lsdException w:name="Medium Shading 2"/>
      <w:lsdException w:name="Medium List 1"/>
      <w:lsdException w:name="Medium List 2"/>
      <w:lsdException w:name="Medium Grid 1"/>
      <w:lsdException w:name="Medium Grid 2"/>
      <w:lsdException w:name="Medium Grid 3"/>
      <w:lsdException w:name="Dark List"/>
      <w:lsdException w:name="Colorful Shading"/>
      <w:lsdException w:name="Colorful List"/>
      <w:lsdException w:name="Colorful Grid"/>
      <w:lsdException w:name="Light Shading Accent 1"/>
      <w:lsdException w:name="Light List Accent 1"/>
      <w:lsdException w:name="Light Grid Accent 1"/>
      <w:lsdException w:name="Medium Shading 1 Accent 1"/>
      <w:lsdException w:name="Medium Shading 2 Accent 1"/>
      <w:lsdException w:name="Medium List 1 Accent 1"/>
      <w:lsdException w:name="Revision"/>
      <w:lsdException w:name="List Paragraph"/>
      <w:lsdException w:name="Quote"/>
      <w:lsdException w:name="Intense Quote"/>
      <w:lsdException w:name="Medium List 2 Accent 1"/>
      <w:lsdException w:name="Medium Grid 1 Accent 1"/>
      <w:lsdException w:name="Medium Grid 2 Accent 1"/>
      <w:lsdException w:name="Medium Grid 3 Accent 1"/>
      <w:lsdException w:name="Dark List Accent 1"/>
      <w:lsdException w:name="Colorful Shading Accent 1"/>
      <w:lsdException w:name="Colorful List Accent 1"/>
      <w:lsdException w:name="Colorful Grid Accent 1"/>
      <w:lsdException w:name="Light Shading Accent 2"/>
      <w:lsdException w:name="Light List Accent 2"/>
      <w:lsdException w:name="Light Grid Accent 2"/>
      <w:lsdException w:name="Medium Shading 1 Accent 2"/>
      <w:lsdException w:name="Medium Shading 2 Accent 2"/>
      <w:lsdException w:name="Medium List 1 Accent 2"/>
      <w:lsdException w:name="Medium List 2 Accent 2"/>
      <w:lsdException w:name="Medium Grid 1 Accent 2"/>
      <w:lsdException w:name="Medium Grid 2 Accent 2"/>
      <w:lsdException w:name="Medium Grid 3 Accent 2"/>
      <w:lsdException w:name="Dark List Accent 2"/>
      <w:lsdException w:name="Colorful Shading Accent 2"/>
      <w:lsdException w:name="Colorful List Accent 2"/>
      <w:lsdException w:name="Colorful Grid Accent 2"/>
      <w:lsdException w:name="Light Shading Accent 3"/>
      <w:lsdException w:name="Light List Accent 3"/>
      <w:lsdException w:name="Light Grid Accent 3"/>
      <w:lsdException w:name="Medium Shading 1 Accent 3"/>
      <w:lsdException w:name="Medium Shading 2 Accent 3"/>
      <w:lsdException w:name="Medium List 1 Accent 3"/>
      <w:lsdException w:name="Medium List 2 Accent 3"/>
      <w:lsdException w:name="Medium Grid 1 Accent 3"/>
      <w:lsdException w:name="Medium Grid 2 Accent 3"/>
      <w:lsdException w:name="Medium Grid 3 Accent 3"/>
      <w:lsdException w:name="Dark List Accent 3"/>
      <w:lsdException w:name="Colorful Shading Accent 3"/>
      <w:lsdException w:name="Colorful List Accent 3"/>
      <w:lsdException w:name="Colorful Grid Accent 3"/>
      <w:lsdException w:name="Light Shading Accent 4"/>
      <w:lsdException w:name="Light List Accent 4"/>
      <w:lsdException w:name="Light Grid Accent 4"/>
      <w:lsdException w:name="Medium Shading 1 Accent 4"/>
      <w:lsdException w:name="Medium Shading 2 Accent 4"/>
      <w:lsdException w:name="Medium List 1 Accent 4"/>
      <w:lsdException w:name="Medium List 2 Accent 4"/>
      <w:lsdException w:name="Medium Grid 1 Accent 4"/>
      <w:lsdException w:name="Medium Grid 2 Accent 4"/>
      <w:lsdException w:name="Medium Grid 3 Accent 4"/>
      <w:lsdException w:name="Dark List Accent 4"/>
      <w:lsdException w:name="Colorful Shading Accent 4"/>
      <w:lsdException w:name="Colorful List Accent 4"/>
      <w:lsdException w:name="Colorful Grid Accent 4"/>
      <w:lsdException w:name="Light Shading Accent 5"/>
      <w:lsdException w:name="Light List Accent 5"/>
      <w:lsdException w:name="Light Grid Accent 5"/>
      <w:lsdException w:name="Medium Shading 1 Accent 5"/>
      <w:lsdException w:name="Medium Shading 2 Accent 5"/>
      <w:lsdException w:name="Medium List 1 Accent 5"/>
      <w:lsdException w:name="Medium List 2 Accent 5"/>
      <w:lsdException w:name="Medium Grid 1 Accent 5"/>
      <w:lsdException w:name="Medium Grid 2 Accent 5"/>
      <w:lsdException w:name="Medium Grid 3 Accent 5"/>
      <w:lsdException w:name="Dark List Accent 5"/>
      <w:lsdException w:name="Colorful Shading Accent 5"/>
      <w:lsdException w:name="Colorful List Accent 5"/>
      <w:lsdException w:name="Colorful Grid Accent 5"/>
      <w:lsdException w:name="Light Shading Accent 6"/>
      <w:lsdException w:name="Light List Accent 6"/>
      <w:lsdException w:name="Light Grid Accent 6"/>
      <w:lsdException w:name="Medium Shading 1 Accent 6"/>
      <w:lsdException w:name="Medium Shading 2 Accent 6"/>
      <w:lsdException w:name="Medium List 1 Accent 6"/>
      <w:lsdException w:name="Medium List 2 Accent 6"/>
      <w:lsdException w:name="Medium Grid 1 Accent 6"/>
      <w:lsdException w:name="Medium Grid 2 Accent 6"/>
      <w:lsdException w:name="Medium Grid 3 Accent 6"/>
      <w:lsdException w:name="Dark List Accent 6"/>
      <w:lsdException w:name="Colorful Shading Accent 6"/>
      <w:lsdException w:name="Colorful List Accent 6"/>
      <w:lsdException w:name="Colorful Grid Accent 6"/>
      <w:lsdException w:name="Subtle Emphasis"/>
      <w:lsdException w:name="Intense Emphasis"/>
      <w:lsdException w:name="Subtle Reference"/>
      <w:lsdException w:name="Intense Reference"/>
      <w:lsdException w:name="Book Title"/>
      <w:lsdException w:name="Bibliography"/>
      <w:lsdException w:name="TOC Heading"/>
      <w:lsdException w:name="Plain Table 1"/>
      <w:lsdException w:name="Plain Table 2"/>
      <w:lsdException w:name="Plain Table 3"/>
      <w:lsdException w:name="Plain Table 4"/>
      <w:lsdException w:name="Plain Table 5"/>
      <w:lsdException w:name="Grid Table Light"/>
      <w:lsdException w:name="Grid Table 1 Light"/>
      <w:lsdException w:name="Grid Table 2"/>
      <w:lsdException w:name="Grid Table 3"/>
      <w:lsdException w:name="Grid Table 4"/>
      <w:lsdException w:name="Grid Table 5 Dark"/>
      <w:lsdException w:name="Grid Table 6 Colorful"/>
      <w:lsdException w:name="Grid Table 7 Colorful"/>
      <w:lsdException w:name="Grid Table 1 Light Accent 1"/>
      <w:lsdException w:name="Grid Table 2 Accent 1"/>
      <w:lsdException w:name="Grid Table 3 Accent 1"/>
      <w:lsdException w:name="Grid Table 4 Accent 1"/>
      <w:lsdException w:name="Grid Table 5 Dark Accent 1"/>
      <w:lsdException w:name="Grid Table 6 Colorful Accent 1"/>
      <w:lsdException w:name="Grid Table 7 Colorful Accent 1"/>
      <w:lsdException w:name="Grid Table 1 Light Accent 2"/>
      <w:lsdException w:name="Grid Table 2 Accent 2"/>
      <w:lsdException w:name="Grid Table 3 Accent 2"/>
      <w:lsdException w:name="Grid Table 4 Accent 2"/>
      <w:lsdException w:name="Grid Table 5 Dark Accent 2"/>
      <w:lsdException w:name="Grid Table 6 Colorful Accent 2"/>
      <w:lsdException w:name="Grid Table 7 Colorful Accent 2"/>
      <w:lsdException w:name="Grid Table 1 Light Accent 3"/>
      <w:lsdException w:name="Grid Table 2 Accent 3"/>
      <w:lsdException w:name="Grid Table 3 Accent 3"/>
      <w:lsdException w:name="Grid Table 4 Accent 3"/>
      <w:lsdException w:name="Grid Table 5 Dark Accent 3"/>
      <w:lsdException w:name="Grid Table 6 Colorful Accent 3"/>
      <w:lsdException w:name="Grid Table 7 Colorful Accent 3"/>
      <w:lsdException w:name="Grid Table 1 Light Accent 4"/>
      <w:lsdException w:name="Grid Table 2 Accent 4"/>
      <w:lsdException w:name="Grid Table 3 Accent 4"/>
      <w:lsdException w:name="Grid Table 4 Accent 4"/>
      <w:lsdException w:name="Grid Table 5 Dark Accent 4"/>
      <w:lsdException w:name="Grid Table 6 Colorful Accent 4"/>
      <w:lsdException w:name="Grid Table 7 Colorful Accent 4"/>
      <w:lsdException w:name="Grid Table 1 Light Accent 5"/>
      <w:lsdException w:name="Grid Table 2 Accent 5"/>
      <w:lsdException w:name="Grid Table 3 Accent 5"/>
      <w:lsdException w:name="Grid Table 4 Accent 5"/>
      <w:lsdException w:name="Grid Table 5 Dark Accent 5"/>
      <w:lsdException w:name="Grid Table 6 Colorful Accent 5"/>
      <w:lsdException w:name="Grid Table 7 Colorful Accent 5"/>
      <w:lsdException w:name="Grid Table 1 Light Accent 6"/>
      <w:lsdException w:name="Grid Table 2 Accent 6"/>
      <w:lsdException w:name="Grid Table 3 Accent 6"/>
      <w:lsdException w:name="Grid Table 4 Accent 6"/>
      <w:lsdException w:name="Grid Table 5 Dark Accent 6"/>
      <w:lsdException w:name="Grid Table 6 Colorful Accent 6"/>
      <w:lsdException w:name="Grid Table 7 Colorful Accent 6"/>
      <w:lsdException w:name="List Table 1 Light"/>
      <w:lsdException w:name="List Table 2"/>
      <w:lsdException w:name="List Table 3"/>
      <w:lsdException w:name="List Table 4"/>
      <w:lsdException w:name="List Table 5 Dark"/>
      <w:lsdException w:name="List Table 6 Colorful"/>
      <w:lsdException w:name="List Table 7 Colorful"/>
      <w:lsdException w:name="List Table 1 Light Accent 1"/>
      <w:lsdException w:name="List Table 2 Accent 1"/>
      <w:lsdException w:name="List Table 3 Accent 1"/>
      <w:lsdException w:name="List Table 4 Accent 1"/>
      <w:lsdException w:name="List Table 5 Dark Accent 1"/>
      <w:lsdException w:name="List Table 6 Colorful Accent 1"/>
      <w:lsdException w:name="List Table 7 Colorful Accent 1"/>
      <w:lsdException w:name="List Table 1 Light Accent 2"/>
      <w:lsdException w:name="List Table 2 Accent 2"/>
      <w:lsdException w:name="List Table 3 Accent 2"/>
      <w:lsdException w:name="List Table 4 Accent 2"/>
      <w:lsdException w:name="List Table 5 Dark Accent 2"/>
      <w:lsdException w:name="List Table 6 Colorful Accent 2"/>
      <w:lsdException w:name="List Table 7 Colorful Accent 2"/>
      <w:lsdException w:name="List Table 1 Light Accent 3"/>
      <w:lsdException w:name="List Table 2 Accent 3"/>
      <w:lsdException w:name="List Table 3 Accent 3"/>
      <w:lsdException w:name="List Table 4 Accent 3"/>
      <w:lsdException w:name="List Table 5 Dark Accent 3"/>
      <w:lsdException w:name="List Table 6 Colorful Accent 3"/>
      <w:lsdException w:name="List Table 7 Colorful Accent 3"/>
      <w:lsdException w:name="List Table 1 Light Accent 4"/>
      <w:lsdException w:name="List Table 2 Accent 4"/>
      <w:lsdException w:name="List Table 3 Accent 4"/>
      <w:lsdException w:name="List Table 4 Accent 4"/>
      <w:lsdException w:name="List Table 5 Dark Accent 4"/>
      <w:lsdException w:name="List Table 6 Colorful Accent 4"/>
      <w:lsdException w:name="List Table 7 Colorful Accent 4"/>
      <w:lsdException w:name="List Table 1 Light Accent 5"/>
      <w:lsdException w:name="List Table 2 Accent 5"/>
      <w:lsdException w:name="List Table 3 Accent 5"/>
      <w:lsdException w:name="List Table 4 Accent 5"/>
      <w:lsdException w:name="List Table 5 Dark Accent 5"/>
      <w:lsdException w:name="List Table 6 Colorful Accent 5"/>
      <w:lsdException w:name="List Table 7 Colorful Accent 5"/>
      <w:lsdException w:name="List Table 1 Light Accent 6"/>
      <w:lsdException w:name="List Table 2 Accent 6"/>
      <w:lsdException w:name="List Table 3 Accent 6"/>
      <w:lsdException w:name="List Table 4 Accent 6"/>
      <w:lsdException w:name="List Table 5 Dark Accent 6"/>
      <w:lsdException w:name="List Table 6 Colorful Accent 6"/>
      <w:lsdException w:name="List Table 7 Colorful Accent 6"/>
    </w:latentStyles>
    <w:style w:type="paragraph" w:default="on" w:styleId="a">
      <w:name w:val="Normal"/>
      <wx:uiName wx:val="正文"/>
      <w:rsid w:val="00077B89"/>
      <w:pPr>
        <w:widowControl w:val="off"/>
        <w:jc w:val="both"/>
      </w:pPr>
      <w:rPr>
        <w:rFonts w:ascii="Calibri" w:fareast="宋体" w:h-ansi="Calibri"/>
        <wx:font wx:val="Calibri"/>
        <w:kern w:val="2"/>
        <w:sz w:val="21"/>
        <w:sz-cs w:val="24"/>
        <w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA"/>
      </w:rPr>
    </w:style>
    <w:style w:type="paragraph" w:styleId="1">
      <w:name w:val="heading 1"/>
      <wx:uiName wx:val="标题 1"/>
      <w:basedOn w:val="a"/>
      <w:next w:val="a"/>
      <w:link w:val="10"/>
      <w:rsid w:val="008F3273"/>
      <w:pPr>
        <w:keepNext/>
        <w:keepLines/>
        <w:spacing w:before="340" w:after="330" w:line="360" w:line-rule="auto"/>
        <w:jc w:val="center"/>
        <w:outlineLvl w:val="0"/>
      </w:pPr>
      <w:rPr>
        <w:rFonts w:ascii="等线" w:fareast="等线" w:h-ansi="等线"/>
        <wx:font wx:val="等线"/>
        <w:b/>
        <w:b-cs/>
        <w:kern w:val="44"/>
        <w:sz w:val="44"/>
        <w:sz-cs w:val="44"/>
      </w:rPr>
    </w:style>
    <w:style w:type="character" w:default="on" w:styleId="a0">
      <w:name w:val="Default Paragraph Font"/>
      <wx:uiName wx:val="默认段落字体"/>
    </w:style>
    <w:style w:type="table" w:default="on" w:styleId="a1">
      <w:name w:val="Normal Table"/>
      <wx:uiName wx:val="普通表格"/>
      <w:rPr>
        <wx:font wx:val="等线"/>
        <w:lang w:val="EN-US" w:fareast="ZH-CN" w:bidi="AR-SA"/>
      </w:rPr>
      <w:tblPr>
        <w:tblInd w:w="0" w:type="dxa"/>
        <w:tblCellMar>
          <w:top w:w="0" w:type="dxa"/>
          <w:left w:w="108" w:type="dxa"/>
          <w:bottom w:w="0" w:type="dxa"/>
          <w:right w:w="108" w:type="dxa"/>
        </w:tblCellMar>
      </w:tblPr>
    </w:style>
    <w:style w:type="list" w:default="on" w:styleId="a2">
      <w:name w:val="No List"/>
      <wx:uiName wx:val="无列表"/>
    </w:style>
    <w:style w:type="character" w:styleId="10">
      <w:name w:val="标题 1 字符"/>
      <w:link w:val="1"/>
      <w:rsid w:val="008F3273"/>
      <w:rPr>
        <w:b/>
        <w:b-cs/>
        <w:kern w:val="44"/>
        <w:sz w:val="44"/>
        <w:sz-cs w:val="44"/>
      </w:rPr>
    </w:style>
    <w:style w:type="paragraph" w:styleId="a3">
      <w:name w:val="header"/>
      <wx:uiName wx:val="页眉"/>
      <w:basedOn w:val="a"/>
      <w:link w:val="a4"/>
      <w:rsid w:val="00077B89"/>
      <w:pPr>
        <w:pBdr>
          <w:bottom w:val="single" w:sz="6" wx:bdrwidth="15" w:space="1" w:color="auto"/>
        </w:pBdr>
        <w:tabs>
          <w:tab w:val="center" w:pos="4153"/>
          <w:tab w:val="right" w:pos="8306"/>
        </w:tabs>
        <w:snapToGrid w:val="off"/>
        <w:jc w:val="center"/>
      </w:pPr>
      <w:rPr>
        <w:rFonts w:ascii="等线" w:fareast="等线" w:h-ansi="等线"/>
        <wx:font wx:val="等线"/>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
    <w:style w:type="character" w:styleId="a4">
      <w:name w:val="页眉 字符"/>
      <w:link w:val="a3"/>
      <w:rsid w:val="00077B89"/>
      <w:rPr>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
    <w:style w:type="paragraph" w:styleId="a5">
      <w:name w:val="footer"/>
      <wx:uiName wx:val="页脚"/>
      <w:basedOn w:val="a"/>
      <w:link w:val="a6"/>
      <w:rsid w:val="00077B89"/>
      <w:pPr>
        <w:tabs>
          <w:tab w:val="center" w:pos="4153"/>
          <w:tab w:val="right" w:pos="8306"/>
        </w:tabs>
        <w:snapToGrid w:val="off"/>
        <w:jc w:val="left"/>
      </w:pPr>
      <w:rPr>
        <w:rFonts w:ascii="等线" w:fareast="等线" w:h-ansi="等线"/>
        <wx:font wx:val="等线"/>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
    <w:style w:type="character" w:styleId="a6">
      <w:name w:val="页脚 字符"/>
      <w:link w:val="a5"/>
      <w:rsid w:val="00077B89"/>
      <w:rPr>
        <w:sz w:val="18"/>
        <w:sz-cs w:val="18"/>
      </w:rPr>
    </w:style>
  </w:styles>
  <w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="2049"/>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <w:docPr>
    <w:view w:val="print"/>
    <w:zoom w:percent="120"/>
    <w:doNotEmbedSystemFonts/>
    <w:bordersDontSurroundHeader/>
    <w:bordersDontSurroundFooter/>
    <w:defaultTabStop w:val="420"/>
    <w:drawingGridVerticalSpacing w:val="156"/>
    <w:displayHorizontalDrawingGridEvery w:val="0"/>
    <w:displayVerticalDrawingGridEvery w:val="2"/>
    <w:punctuationKerning/>
    <w:characterSpacingControl w:val="CompressPunctuation"/>
    <w:optimizeForBrowser/>
    <w:allowPNG/>
    <w:validateAgainstSchema/>
    <w:saveInvalidXML w:val="off"/>
    <w:ignoreMixedContent w:val="off"/>
    <w:alwaysShowPlaceholderText w:val="off"/>
    <w:hdrShapeDefaults>
      <o:shapedefaults v:ext="edit" spidmax="2049"/>
    </w:hdrShapeDefaults>
    <w:footnotePr>
      <w:footnote w:type="separator">
        <w:p wsp:rsidR="00103E43" wsp:rsidRDefault="00103E43" wsp:rsidP="00077B89">
          <w:r>
            <w:separator/>
          </w:r>
        </w:p>
      </w:footnote>
      <w:footnote w:type="continuation-separator">
        <w:p wsp:rsidR="00103E43" wsp:rsidRDefault="00103E43" wsp:rsidP="00077B89">
          <w:r>
            <w:continuationSeparator/>
          </w:r>
        </w:p>
      </w:footnote>
    </w:footnotePr>
    <w:endnotePr>
      <w:endnote w:type="separator">
        <w:p wsp:rsidR="00103E43" wsp:rsidRDefault="00103E43" wsp:rsidP="00077B89">
          <w:r>
            <w:separator/>
          </w:r>
        </w:p>
      </w:endnote>
      <w:endnote w:type="continuation-separator">
        <w:p wsp:rsidR="00103E43" wsp:rsidRDefault="00103E43" wsp:rsidP="00077B89">
          <w:r>
            <w:continuationSeparator/>
          </w:r>
        </w:p>
      </w:endnote>
    </w:endnotePr>
    <w:compat>
      <w:spaceForUL/>
      <w:balanceSingleByteDoubleByteWidth/>
      <w:doNotLeaveBackslashAlone/>
      <w:ulTrailSpace/>
      <w:doNotExpandShiftReturn/>
      <w:adjustLineHeightInTable/>
      <w:breakWrappedTables/>
      <w:snapToGridInCell/>
      <w:wrapTextWithPunct/>
      <w:useAsianBreakRules/>
      <w:dontGrowAutofit/>
      <w:useFELayout/>
    </w:compat>
    <wsp:rsids>
      <wsp:rsidRoot wsp:val="00810197"/>
      <wsp:rsid wsp:val="00077B89"/>
      <wsp:rsid wsp:val="00103E43"/>
      <wsp:rsid wsp:val="00115F50"/>
      <wsp:rsid wsp:val="004F1C04"/>
      <wsp:rsid wsp:val="0059300A"/>
      <wsp:rsid wsp:val="00810197"/>
      <wsp:rsid wsp:val="008F3273"/>
    </wsp:rsids>
  </w:docPr>
  <w:body>
    <#list map?keys as region>
    <wx:sect>
      <w:p wsp:rsidR="00077B89" wsp:rsidRDefault="00077B89" wsp:rsidP="00077B89">
        <w:pPr>
          <w:rPr>
            <w:rFonts w:ascii="微软雅黑" w:fareast="微软雅黑" w:h-ansi="微软雅黑" w:cs="微软雅黑"/>
            <wx:font wx:val="微软雅黑"/>
            <w:sz w:val="28"/>
            <w:sz-cs w:val="28"/>
          </w:rPr>
        </w:pPr>
        <w:r>
          <w:rPr>
            <w:rFonts w:ascii="微软雅黑" w:fareast="微软雅黑" w:h-ansi="微软雅黑" w:cs="微软雅黑" w:hint="fareast"/>
            <wx:font wx:val="微软雅黑"/>
            <w:b/>
            <w:b-cs/>
            <w:color w:val="FFFFFF"/>
            <w:sz w:val="32"/>
            <w:sz-cs w:val="32"/>
            <w:highlight w:val="black"/>
          </w:rPr>
          <w:t>${region}</w:t>
        </w:r>
      </w:p>
     <#list map[region] as paper>
      <w:p wsp:rsidR="0059300A" wsp:rsidRDefault="00077B89">
       	 ${paper.description}
      </w:p>
      <w:p w:rsidR="0048369F" w:rsidRPr="00CC3FF5" w:rsidRDefault="0048369F">
        <w:pPr>
          <w:rPr>
            <w:rFonts w:ascii="微软雅黑" w:eastAsia="微软雅黑" w:hAnsi="微软雅黑" w:cs="Times New Roman"/>
            <w:b/>
            <w:color w:val="FF6600"/>
            <w:sz w:val="28"/>
            <w:szCs w:val="28"/>
          </w:rPr>
        </w:pPr>
      </w:p>
      <w:sectPr wsp:rsidR="0059300A">
        <w:pgSz w:w="11906" w:h="16838"/>
        <w:pgMar w:top="1440" w:right="1800" w:bottom="1440" w:left="1800" w:header="851" w:footer="992" w:gutter="0"/>
        <w:cols w:space="425"/>
        <w:docGrid w:type="lines" w:line-pitch="312"/>
      </w:sectPr>
     </#list>
    </wx:sect>
    </#list>
  </w:body>

</w:wordDocument>
